body {
    background-color: #51448d88;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Evita el scroll cuando el contenedor se acerca al borde */
}

.container {
    max-width: 425px; /* Reduce el ancho máximo del contenedor */
    width: 90%; /* Ajusta el ancho del contenedor */
    background-color: #334e6d;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.container img.logo {
    display: block;
    margin: 0 auto 15px auto; /* Reduce el margen inferior */
    width: 150px; /* Ajusta el tamaño de la imagen */
    height: 150px; /* Ajusta el tamaño de la imagen */
    border-radius: 50%;
    border: 2px solid #000000;
    animation: rotate 10s linear infinite; /* Añade la animación */
    transition: animation 0.5s ease-in-out; /* Transición suave para la animación */
}

.container img.logo:hover {
    animation-play-state: paused; /* Pausa la animación al pasar el mouse */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container h2 {
    margin-bottom: 15px; /* Reduce el margen inferior del título */
}

.form-group {
    margin-bottom: 15px; /* Ajusta el margen entre los campos del formulario */
}

.form-group label {
    color: #fff;
}

.btn-primary {
    background-color: #3d6172;
    border-color: #526880;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

/* Estilo del botón de Google */
.btn-google {
    display: inline-flex;
    align-items: center;
    background-color: #4285F4; /* Color azul de Google */
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: auto; /* Ancho automático para que se ajuste al contenido */
    margin: 0 auto; /* Centra el botón horizontalmente */
}

/* Estilo del logo de Google en el botón */
.btn-google img {
    width: 20px; /* Tamaño del logo */
    height: 20px; /* Tamaño del logo */
    margin-right: 8px; /* Espacio entre el logo y el texto */
}

/* Efecto hover para el botón de Google */
.btn-google:hover {
    background-color: #357AE8; /* Azul más oscuro al pasar el ratón */
    transform: scale(1.05); /* Agranda ligeramente el botón al pasar el ratón */
}

/* Estilo para centrar el botón horizontalmente */
.text-center {
    text-align: center;
}
