body {
    background-color:#596d8d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 425px;
    width: 90%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    color: var(--text-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
}

.container img.logo {
    display: block;
    margin: 0 auto 15px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    animation: rotate 10s linear infinite;
    transition: animation 0.5s ease-in-out;
}

.container img.logo:hover {
    animation-play-state: paused;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container h2 {
    margin-bottom: 15px;
    color: var(--primary-color);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    color: var(--text-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    background-color:#596d8d;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color:#596d8d;
    border-color: var(--accent-color);
    transform: scale(1.05);
}

.btn-google {
    display: inline-flex;
    align-items: center;
    background-color: #4285F4;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: auto;
    margin: 0 auto;
}

.btn-google img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.btn-google:hover {
    background-color: #357AE8;
    transform: scale(1.05);
}

.text-center {
    text-align: center;
}

input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-password-toggle-button,
input[type="password"]::-ms-clear,
input[type="password"]::-ms-reveal {
    display: none;
}

input[type="password"]::after,
input[type="password"]::before {
    display: none !important;
}